.footer{
    padding: 1rem 7rem;
    display: grid;
    /* align-items: center; */
    /* flex-direction: column; */
    /* justify-content: center; */
    margin-top: 5rem;
    /* margin: auto auto; */
    place-content: center;
}
.footer-grid{
    display: grid;
    grid-template-columns:
1fr 1fr 1fr 1fr;
    grid-gap: 1rem;
    /* justify-items: center; */
    place-content: center;
}

.footer-item header h1{
font-size: 1.5rem;
text-transform: capitalize;
font-weight: 600;
font-family: sans-serif;
color: rgb(21, 21, 21);

}
.footer-item u{
    margin-left: 0;
}
.footer-item ul{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-self: flex-start;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0rem;
}
.footer-item ul li{
font-size: 1rem;
font-family: sans-serif;
color: rgb(46, 46, 46);
}
.footer-item p{
color: rgb(62, 62, 62);
line-height: 1.5rem;
font-size: 1rem;
font-family: sans-serif;

}
.footer-item:nth-child(1) p{
display: flex;
flex-direction: column;

}
.footer-item:nth-child(1){
    width: 25rem;
}